---
  - name: "Creates backend app directory"
    file:
      path: /home/backed-app
      state: directory

  - name: "Unarchive backend files"
    unarchive:
      src: "files/artifact.tar.gz"
      dest: "/home/backed-app"

  - name: "Installing Node Dependencies"
    shell: |
      cd /home/backed-app
      npm install
  
  - name: "Executing Node app with PM2"
    shell: |
      cd /home/backed-app/dist
      pm2 start main.js
    environment:
      NODE_ENV: production
      VERSION: "1"
      TYPEORM_CONNECTION: "{{ lookup('env', 'TYPEORM_CONNECTION')}}"
      TYPEORM_ENTITIES: "{{ lookup('env', 'TYPEORM_ENTITIES')}}"
      TYPEORM_HOST: "{{ lookup('env', 'TYPEORM_HOST')}}"
      TYPEORM_PORT: 5432
      TYPEORM_USERNAME: "{{ lookup('env', 'postgres')}}"
      TYPEORM_PASSWORD: "{{ lookup('env', 'postgres')}}"
      TYPEORM_DATABASE: "{{ lookup('env', 'postgres')}}"
      TYPEORM_MIGRATIONS: "{{ lookup('env', 'TYPEORM_MIGRATIONS')}}"
      TYPEORM_MIGRATIONS_DIR: "{{ lookup('env', 'TYPEORM_MIGRATIONS_DIR')}}"
    register: execute_node

  - name: print message
    debug:
      msg: "{{ execute_node.stdout_lines }}"

  - name: "Configure pm2 to start as service"
    become: true
    shell: |
      env PATH=$PATH:/usr/local/bin pm2 startup systemd -u ubuntu --hp /home/ubuntu